[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
isort = "*"

[packages]
gunicorn = '*'
polyglot = '*'
pytest = '*'
spacy = '*'
Flask = '*'
flake8 = "*"
six = "*"
pyicu = "*"
morfessor = "*"
pycld2 = "*"
numpy = "*"
waitress = "*"

[requires]
python_version = '3.9'
